body{
	margin:0;
	background-color:#4a4b4f;
}
#container_index{
	height:100%;
	width:100%;
	background-image:url(../images/container_bg.jpg);
	background-repeat:repeat-x;
}
#body_index{
	margin:0 auto;
	width:980px;
	height:100%;
}
#header_index{
	width:980px;
	height:74px;
}
	#logo_index{
		margin-top:18px;
		float:left;
		width:221px;
		height:49px;
	}
	#user_info_index{
		text-align:right;
		margin-top:18px;
		float:right;
		width:500px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#ffffff;
	}
	#user_info_index a{
		color:#ffffff;
	}
#flash_login_index{
	width:980px; _width:982px;
	height:320px;
}
	#flash_index{
		width:720px;
		height:320px;
		float:left;
	}
	#login_index{
		width:260px;
		height:320px;
		float:left;
		background-image:url(../images/login_index_bg.jpg);
	}
	#login_index_2{
		color:#333333;
		width:260px;
		height:320px;
		float:left;
		background-image:url(../images/login_index_bg_2.jpg);
	}
	 #login_index_2 a{
		 color:#333333;
	 }
	 #one{
		 width:260px;
		 height:206px;
	 }
	 #two{
		 width:260px;
		 height:114px;
	 }
	 #id{
		 display:inline;
		 width:230px;
		 height:20px;
		 float:left;
		 margin-left:15px;
		 margin-top:60px;
		 font-family:Arial, Helvetica, sans-serif;
		 font-size:12px;
		 color:#000000;
	 }
	 #password{
		 display:inline;
		 width:230px;
		 height:20px;
		 float:left;
		 margin-left:15px;
		 margin-top:8px;
		 font-family:Arial, Helvetica, sans-serif;
		 font-size:12px;
		 color:#000000;
	 }
	  #validecode{
		 display:inline;
		 width:230px;
		 height:20px;
		 float:left;
		 margin-left:15px;
		 margin-top:8px;
		 font-family:Arial, Helvetica, sans-serif;
		 font-size:12px;
		 color:#000000;
	 }
	 #remember{
		 display:inline;
		 width:230px;
		 height:20px;
		 float:left;
		 margin-left:15px;
		 margin-top:8px;
		 font-family:Arial, Helvetica, sans-serif;
		 font-size:12px;
		 color:#000000;
	 }
	 #error{
		 display:inline;
		 padding-left:50px;
		 display:inline;
		 width:180px;
		 height:22px;
		 float:left;
		 margin-left:15px;
		 margin-top:8px;
		 font-family:Arial, Helvetica, sans-serif;
		 font-size:12px;
		 color:#000000;
	 }
	 #login_button_index{
		 background-image:url(../images/djj.jpg) 
	 }
	 #login_button{
		 display:inline;
		 padding-left:70px;
		 display:inline;
		 margin-left:15px;
		 width:110px;
		 height:24px;
		 float:left;
		 margin-top:12px;
		 font-size:12px;
	 }
	 #new_user{
		 display:inline;
		 width:210px;
		 height:30px;
		 float:left;
		 margin-left:45px;
		 margin-top:20px;
		 font-family:Arial, Helvetica, sans-serif;
		 font-size:12px;
		 color:#000000;
	 }
	 #free_register{
		 display:inline;
		 float:left;
		 height:43px;
		 margin-top:2px;
	 }


#flash_login_shadow{
	width:980px;
	height:20px;
	float:left;
	background-image:url(../images/flash_login_shadow.jpg);
}
#content_index{
	float:left;
	width:980px;
	height:100%;
	background-color:#ffffff;
}
	#our_services{
		width:360px;
		height:300px;
		float:left;
	}
		.title_index{
			width:170px;
			height:20px;
			float:left;
			margin-left:14px;
		}
		.title_index_x{
			width:80px;
			height:20px;
			float:left;
			margin-left:14px;
			background-repeat:no-repeat;
		}
		.title_index_xx{
			width:170px;
			height:20px;
			float:left;
			margin-left:14px;
			background-image:url(../images/linezing_x.jpg);
			background-repeat:no-repeat;
		}
		.title_index_xxxx{
			width:80px;
			height:20px;
			float:left;
			margin-left:14px;
			margin-top:10px;
			background-repeat:no-repeat;
		}
		.title_index_xxx{
			width:114px;
			height:20px;
			float:left;
			margin-left:14px;
			background-image:url(../images/doourbest.jpg);
			font-size:12px;
			color:#4a4b4f;
		}
		.title_index_xxxxx{
			padding-top:6px;
			width:100px;
			height:20px;
			float:left;
			margin-top:10px;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
			color:#4a4b4f;
		}
		.title_index_xxxxx a{
			color:#4a4b4f;
		}
		.title_index_xxxxxx{
			padding-top:6px;
			width:100px;
			height:20px;
			float:left;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
			color:#4a4b4f;
		}
		.title_index_xxxxxx a{
			color:#4a4b4f;
		}
		.text_area_index{
			line-height:20px;
			width:330px;
			float:left;
			margin-left:14px;
			margin-top:10px;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
			color:#858895;
		}
		.text_area_index a{
			/**text-decoration:none;**/
			color:#858895;
		}
		.text_area_short_index{
			width:220px;
			float:left;
			margin-left:14px;
			margin-top:10px;
			font-family:Arial, Helvetica, sans-serif;
			font-size:12px;
			color:#858895;
		}
		.text_area_short_index a{
			/**text-decoration:none;**/
			color:#858895;
		}
	#hot_faq{
		border-left:1px #d4d6da solid;
		width:360px;
		height:300px;
		float:left;
		background-color:#ffffff;
	}
	#try{
		border-left:1px #d4d6da solid;
		width:258px;
		height:300px;
		float:left;
		background-color:#ffffff;
	}
#content_footer_index{
	width:980px;
	height:20px;
	float:left;
	background-image:url(../images/footer_bg_index.jpg);
}
#footer_index{
	float:left;
	width:980px;
	height:60px;
}
	#help_index{
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#ffffff;
		width:300px;
		float:left;
		margin-top:2px;
	}
	#help_index a{
		color:#ffffff;
	}
	#copyright_index{
		text-align:right;
		width:200px;
		float:right;
		margin-top:2px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#ffffff;
	}



#register_button_index{
	width:207px;
	height:43px;
	background-image:url(../images/free_register.jpg);
}
#login_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#login_button_index{
	border:none;
	width:69px;
	height:24px;
	background:url(../images/djj.jpg);
}
