<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Plugin version="1.0"><id>Archiver</id><name>Archiver 无图版浏览</name><url>http://ema.bywei.cn/</url><note>生成静态的文章列表，可以自定义模板，使博客更容易被搜索引擎抓取和收录。&lt;br /&gt;* 静态化列表页面，html结构简单&lt;br /&gt;* 是博客的简洁版、无图版&lt;br /&gt;* 是博客的站点地图，也是文章存档&lt;br /&gt;* 优化view模版，防止重复收录 &lt;span style="color:red"&gt;new&lt;/span&gt;</note><author><name>狼的旋律</name><url>http://ema.bywei.cn</url><email>wolfit50@gmail.com</email></author><type>outline</type><path>makeit.asp</path><include>include.asp</include><level>1</level><adapted>Z-Blog 1.8</adapted><version>1.4</version><pubdate>2008-5-25</pubdate><modified>2011-9-3</modified></Plugin>
