<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Plugin version="1.0"><id>AddTextF</id><name>日志加加</name><url>http://www.2sos.net/post/AddTextF.html</url><note>“日志加加”是一款基于Z-Blog开发的日志内容管理插件。主要功能：&lt;br / &gt; 1、自动识别文章内Tag关键字，并添加链接。&lt;br / &gt; 2、在文章的指定位置（头部、尾部、段落前、段落间）按照指定方式（左悬浮、右悬浮等）插入广告代码。也可插入其他文字、图片。&lt;br / &gt; 3、日志加加不修改网站的Template模版，不修改数据库内容，可以说是无损修改。（关闭日志加加后重建即可恢复原始状态）&lt;br / &gt;</note><author><name>kikin</name><url>http://www.2sos.net/</url><email>kikinlee@gmail.com</email></author><type>outline</type><path>main.asp</path><include>include.asp</include><level>2</level><adapted>Z-Blog 1.8 Walle</adapted><version>0.5</version><pubdate>2011-10-27</pubdate><modified>2011-10-27</modified></Plugin>
