/* style will be modified */
.wherecss {border:1px solid #d3c1d9;height:37px;overflow:hidden;background:transparent url(ystats00.png) repeat-x left -28px;font-size:14px;}
.menu h3{font-size:14px;margin:0px auto;background:transparent url(ystats00.png) no-repeat left top;width:138px;height:28px;overflow:hidden;border:1px solid #ccc;line-height:28px;}
h2.title01 { background:#F2F2F2 none repeat scroll 0%;font-size:14px;height:24px;line-height:24px; margin-top:15px; }
.filters .subs {border-top:1px solid #ccc;height:33px;background-color:#ecf5fc;}
.sidebar .menu{border:2px solid #e6e6e6;margin:0 0 3px 0;padding-top:8px; background-color:#f6f6f6;position:relative;}
.simple-list .tlists .sum td{ background-color: #ffffcc; }
.menu .corner{ width:19px; height:19px; overflow:hidden; *overflow:auto; background:transparent url(ystats00.png) no-repeat -19px -113px; position:absolute; left:0px; _left:-80px; top:-2px; *top:0; }

/* layout */
#header, #main{width:950px;overflow:hidden;}

/* link */
a:link, a:visited{color:#0166ff;text-decoration:none;}
.shortcuts a:link, .shortcuts a:visited{color:#184098;text-decoration:none;}
#nav .nav-tab a:link, #nav .nav-tab a:visited{color:#000;text-decoration:none;}
#nav .right-nav a:visited, #nav .right-nav a:link{color:#0144dd;text-decoration:none;}
.menu .items li a:link, .menu .items li a:visited{color:#000;text-decoration:none;}
.filters .subs li.current a:link, .filters .subs li.current a:visited{color:#fff;text-decoration:none;}
a.common-button:link, a.common-button:visited{color:#676767;text-decoration:none;}
a:active { color:#FF0000; text-decoration:underline; }

/* button */
.common-button, .common-button span{display:block;float:left;background:transparent url(ystats00.png) no-repeat right -132px;}
.common-button{padding: 0 6px 0 0;}
.common-button span{padding:0 0 0 6px;height:23px;line-height:23px;background-position:left -132px;}
.common-button span i.search{display:block;width:16px;height:15px;float:left;background:transparent url(ystats00.png) no-repeat -42px -113px;margin:4px 3px 0 0;}

/* header */
#logo{float:left;width:246px;}
#logo a{height:43px;display:block;background:transparent url(logo0000.png) no-repeat left top;}
#logo a span{display:none;}
#logo_bottom{border:1px solid #d3c1d9;border-top:0 none;height:37px;overflow:hidden;background:transparent url(ystats00.png) repeat-x left -28px;font-size:14px;}
.shortcuts{float:right;width:680px;}
.shortcuts .welcome{float:left;width:300px;overflow:hidden;coloregray;line-height:22px;}
.shortcuts .search-and-links{float:right;width:380px;text-align:right;}
.search-and-links .search button{
	background:#FFC027 url(schbtnbg.gif) repeat-x scroll 0% 0%;
	border:1px solid #B08D4F;
	color:#772D00;
	cursor:pointer;
	height:22px;
	margin:0pt 0pt 0pt 1px;
	padding:0pt;
	width:50px;
}
.search-and-links .schtext{
	background:#FFFFFF url(uniinputbg.gif) no-repeat scroll 0pt 0pt;
	border-color:#7C7C7C rgb(206, 206, 206) rgb(195, 195, 195) rgb(124, 124, 124);
	border-style:;
	border-width:1px;
	font-size:12px;
	margin:0pt;
	padding:3px 4px 2px;
	width:75%;
}
.search-and-links .links{margin:7px -8px 0 0;}
.search-and-links .links li{float:right;border-right:1px solid #750073;padding:0 8px;}

/* nav */
#nav{position:relative;border-bottom:1px solid #d3c1d9;height:30px;}
#nav .nav-tab{position:absolute;left:20px;bottom:-1px;z-index:10;}
#nav .nav-tab li{background-color:#f9e8f8;border:1px solid #d3c1d9;float:left;margin:0 10px 0 0;padding:0 20px;height:28px;line-height:28px;font-size:14px;}
#nav .nav-tab li.current{background-color:#fff;border-bottom:1px solid #fff;}
#nav sup{font-size:11px;color:red;}
#nav .right{float:right;width:300px;}
#nav .right-nav li{float:right;line-height:30px;margin-left:9px;}

/* where */
#where .current{float:left;margin:6px 0 0 6px;line-height:24px;}
#where .current label{float:left;}
#where .current .sites{float:left;height:24px;border:1px solid #cdcdcd;padding:0 9px;}
#where .back{float:right;background:transparent url(back0000.gif) no-repeat left center;padding-left:20px; margin-right:10px; margin-top:10px;}

/* sidebar */
.content{margin:10px 0;}
.content .sidebar{width:160px;float:left;}
.menu .items{text-align:center;margin:10px 0;font-size:14px;}
.menu .items li{line-height:30px; padding:0 7px;height:30px;}
.content .col{float:right;width:780px;}
.menu .items li a{display:block;}
.menu .items li a:hover{ border:solid 1px #ccc;line-height:28px;}
/* col current */
.col .current{margin:3px 0 0;}
.col .current .path li{float:left;color:gray;}
.col .current .path li.title{color:#000;}
.col .current .path li.arrow{margin:0 5px;}

/* col filters */
.col .filters{border:1px solid #ccc;margin:7px 0;}
.col .filters h3{height:28px;background:transparent url(ystats00.png) repeat-x left -66px;font-size:14px;line-height:28px;color:#666;padding-left:15px;text-align:left;}
.filters .subs ul{margin:6px 0 0 14px;}
.filters .subs li{float:left;margin:0 10px 0 0;line-height:19px;}
.filters .subs li.current a, .filters .subs li.current a span{float:left;display:block;background:transparent url(ystats00.png) no-repeat right -94px;}
.filters .subs li.current a{padding:0 10px 0 0;}
.filters .subs li.current a span{height:19px;line-height:19px;background-position:left -94px;padding:0 0 0 10px;}
.filters .form {border-top:1px solid #ccc; height:32px; background-color:#f4f4f4; line-height:32px;}
.filters .form .inputs {
	float:left; 
	margin-left:6px; 
	*margin:0px 0 0 3px;
	_margin-top:6px
}
.filters .form .inputs input{margin:0 4px;*margin:0;}
.filters .form .submit-wrapper{float:left;margin:6px 0 0 10px;}

input.custom-date{
	width:83px;
	height:18px;
	border:1px solid #809eba;
	background:#fff url(calendar.gif) no-repeat 3px center;
	color:red;
	font-weight:bold;
	font-size:13px;
	padding-left:25px;
	vertical-align:middle;
}


/* col chart */
.col .chart-view { margin:10px auto; width:98%; }
.chart-view .title{line-height:19px; text-align:left;}
.chart-view .view-type{float:right;margin:-19px 0 0 0;}

/* col back to top */
p.back-top{text-align:right;margin:10px 0;}
p.back-top a{background:transparent url(back_top.gif) no-repeat left center;padding-left:13px;}

/* simple-list */
.simple-list .list-footer, .simple-list .tlists thead, .simple-list .caption{
	background-image: url(sale_bg.png);
}

.large-button a, .large-button a span, .common-icon-link a i, .bg-myalimama, .simple-list .tlist-item .actions a.del, .post-opinion .details .arrow, .simple-list .batch-actions i, .common-button i.icon, .common-list .tlists thead, .common-list .list-body .batch-actions i, .new-icon i, div#navigation, div#navigation .lc, div#navigation .rc, div#navigation .mc li.current a, div#navigation .mc li.current a span, .paginate .pages li a span i, .flow-steps li i, .flow-steps li.arrow, #header #guider li.member i, #header #guider li.help i, #header #guider li.nav a, #header #guider li.nav a span{
	background-image: url(myalimam.png);
}

.box-list{
 border-bottom:1px solid #CCCCCC;
 float:left;
 width: 778px;
 line-height: 40px;
 font-size: 14px;
}
.loc_button{
 float:right;
 margin-top: 10px;

}
.simple-list{
	margin: 10px 0 0 0;
	border: 1px solid #ccc;
}

.simple-list .list-caption{
 color: #666;
 font-size: 14px;
 height: 40px;
 line-height: 40px;
 overflow: hidden;
 padding-left: 10px;
 text-align: left;
 float: left;
}
.list-caption{float:left;}

/***
.simple-list .list-caption{
	color: #666;
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding-left: 10px;
	border-bottom:1px solid #CCCCCC;
	text-align: left;
}
***/
.simple-list .bottom-batch{
	border-top: 0 none;
}

.simple-list .list-caption .actions{
	float: right;
	margin: -33px 10px 0 0;
}

.simple-list .tlists, .common-list .tlists{
	width: 100%;
	background-color: #fff;
}

.simple-list .tlists thead{
	background-repeat: repeat-x;
	background-position: left -988px;
	height: 28px;
	line-height: 28px;
}

.simple-list .tlists thead th{
	text-align: center;
	font-weight: normal;
	color: #999;
	border-bottom: 1px solid #ccc;
}

.simple-list .tlists thead th.actions{
	padding: 0 3px;
	text-align: left;
}

.simple-list .tlists tbody td{
	text-align: center;
	padding: 8px 0;
	border-bottom: 1px dotted #ccc;
	*line-height: 14px;
	line-height: 15px;
	background-color: #fff;
	font-size:90%;
}

.simple-list .tlists tbody td.actions{
	text-align: left;
	padding: 8px 3px;
}

.simple-list .tlists tbody td.last, .simple-list .tlists tbody th.last{
	padding: 0 5px;
}

.simple-list .tlists tbody td.first, .simple-list .tlists tbody th.first{
	padding: 0 0 0 3px;
}

.simple-list .tlists tbody td.actions ul li{
	float: left;
	margin-right: 8px;
}

.simple-list .list-footer{
	height: 34px;
}

.common-button a span{
	font-weight: normal;
}

.common-button i.icon{
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	padding:0px;
	background-repeat: no-repeat;
	margin: 5px 4px 0 0;
}

.common-button i.import{
	background-position: -150px -1249px;
}

.simple-list .no-data{
	font-size: 14px;
	color: #5c5c5c;
	text-align: center;
	padding: 10px 0;
}

.simple-list .no-data span{
	background: transparent url(ico_tips.gif) no-repeat left center;
	padding-left: 23px;
}

/* the following styles are added by guantao, Y!Stat Team */
/* email: wb_tao.guan@alibaba-inc.com */
.cp, .cp1 {
	color:#000000;
	font-family:Arial;
	font-size:12px;
	line-height:24px;
	margin:0pt auto;
	padding:20px 0pt 40px;
	text-align:center;
}

h2.title01 .ttl {
	float:left;
	padding-left:12px;
}

h2.title01 .more {
	float:right;
	font-size:12px;
	font-weight:normal;
	padding-right:10px;
}

.siteinfo {
	text-align:left;
	list-style-type:none;
	margin:10px 0px 10px 40px;
	color:#000000;
	font-family:Arial;
	font-size:15px;
}

.siteinfo li {
	padding-bottom:10px;
}

table.data03 {
	margin:10px 0px;
	font-family:Arial;
	font-size:15px;
}

table.data03 th {
	font-size:14px;
	line-height:24px;
	text-align:left;
}

table.data03 td {
	font-size:14px;
	line-height:24px;
	text-align:left;
	padding-bottom:5px;
}

table.data03 td.itm {
	padding-right:30px;
	text-align:right;
	width:100px;
}

#selid {
    FLOAT: left;
    WIDTH: 85px;
    height: 37px;
    CURSOR: pointer;
    COLOR: #04d;
    TEXT-ALIGN: left;

	PADDING-LEFT:130px;
	*PADDING-LEFT:0px;
    *LEFT:390px;

	POSITION: absolute;
}

#slist {
    BORDER: #04d 1px solid;
    DISPLAY: none;
    padding-left: 0px;
    POSITION: absolute;
    TOP: 25px;
    WIDTH: 140px;

	*OVERFLOW: auto;
	OVERFLOW: hidden;
    padding-top:0px;
    height:123px;
    *HEIGHT: 130px;
}
#slist A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#slist A:link {
	BACKGROUND: #fff; COLOR: #000
}
#slist A:visited {
	BACKGROUND: #fff; COLOR: #000
}
#slist A:active {
	BACKGROUND: #04d; COLOR: #fff
}
#slist A:hover {
	BACKGROUND: #04d; COLOR: #fff
}

/* for mystat.html */
#bd {
	MARGIN: 0px auto; WIDTH: 950px
}

#ctrlpanl {
	HEIGHT: 54px
}
#ctrlpanl .lnk {
	PADDING-LEFT: 15px; FONT-SIZE: 12px; FLOAT: left; WIDTH: 280px; TEXT-ALIGN: left
}
#ctrlpanl .ttl {
	FONT-SIZE: 18px; COLOR: #000; LINE-HEIGHT: 54px; FONT-FAMILY: ºÚÌå
}
#ctrlpanl .anu {
	PADDING-RIGHT: 15px; FONT-SIZE: 12px; FLOAT: right; WIDTH: 550px; LINE-HEIGHT: 54px; FONT-FAMILY: ËÎÌå; TEXT-ALIGN: right
}
#ctrlpanl .anu A {
	COLOR: #000
}
#ctrlpanl .reda {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: red
}

.tjtb {
	float: left;
	WIDTH: 950px;
}

.tjtb UL {
	float: left;
	WIDTH: 950px;
}
.tjtb LI {
	BORDER-RIGHT: #ccc 3px solid; BORDER-TOP: #ccc 3px solid; DISPLAY: block; FLOAT: left; MARGIN: 0 0 10px 10px; OVERFLOW: hidden; BORDER-LEFT: #ccc 3px solid; WIDTH: 450px; BORDER-BOTTOM: #ccc 3px solid; HEIGHT: 134px
}
.tjtb LI.rgt {
	MARGIN-RIGHT: 0px
}
.tjtb LI H3 {
	FONT-SIZE: 14px; LINE-HEIGHT: 23px; HEIGHT: 23px
}
.tjtb LI H3 .idt {
	PADDING-LEFT: 14px; BACKGROUND: #ff9; FLOAT: left; OVERFLOW: hidden; WIDTH: 162px; WORD-BREAK: keep-all; LINE-HEIGHT: 23px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left; WORD-WRAP: normal
}
.tjtb LI H3 .funlnk {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FLOAT: right; WIDTH: 269px; LINE-HEIGHT: 23px; TEXT-ALIGN: left
}

TABLE.data02 TH {
	FONT-SIZE: 14px; BACKGROUND: #e5e5e5; LINE-HEIGHT: 22px; TEXT-ALIGN: left
}
TABLE.data02 TD {
	FONT-SIZE: 14px; LINE-HEIGHT: 21px; TEXT-ALIGN: left
}
TABLE.data02 TD.itm {
	PADDING-RIGHT: 30px; WIDTH: 76px; TEXT-ALIGN: right
}

body {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 13px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: Arial; TEXT-ALIGN: center
}

.p {
	MARGIN-TOP: 1px; TEXT-ALIGN: left
}
.p A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ddd 1px solid; DISPLAY: inline-block; PADDING-LEFT: 0.5em; FONT-SIZE: 122%; PADDING-BOTTOM: 3px; MARGIN: 0px 2px; BORDER-LEFT: #ddd 1px solid; COLOR: #0353ce; PADDING-TOP: 3px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
.p B {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ddd 1px solid; DISPLAY: inline-block; PADDING-LEFT: 0.5em; FONT-SIZE: 122%; PADDING-BOTTOM: 3px; MARGIN: 0px 2px; BORDER-LEFT: #ddd 1px solid; COLOR: #0353ce; PADDING-TOP: 3px; BORDER-BOTTOM: #ddd 1px solid; TEXT-DECORATION: none
}
.p B {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; FONT-WEIGHT: normal; BORDER-LEFT: #fff 1px solid; COLOR: #dd0000; BORDER-BOTTOM: #fff 1px solid
}
.p A:hover {
	BACKGROUND: #00c; COLOR: #fff; TEXT-DECORATION: none
}
.p A:active {
	BACKGROUND: #00c; COLOR: #fff; TEXT-DECORATION: none
}

A.pre {
	FONT-WEIGHT: bold; MARGIN: 0px 6px 0px 0px
}
A.nxt {
	FONT-WEIGHT: bold; MARGIN: 0px 0px 0px 6px
}

.gtop {
	FONT-SIZE: 14px; WIDTH: 100%; PADDING-TOP: 6px; TEXT-ALIGN: right
}

.clr {
	CLEAR: both; OVERFLOW: hidden; HEIGHT: 0px
}

/* for add site */
A.addsite {
	DISPLAY: block; FONT-SIZE: 14px; BACKGROUND: #f2f2f2; WIDTH: 459px; LINE-HEIGHT: 134px; HEIGHT: 134px
}

/* for addu.html */
.siteadd {
	MARGIN: 18px 0px
}
.siteadd TH {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; VERTICAL-ALIGN: top; LINE-HEIGHT: 25px; TEXT-ALIGN: right
}
.siteadd TD {
	FONT-SIZE: 14px; PADDING-TOP: 3px; TEXT-ALIGN: left
}
.siteadd .input01 {
	WIDTH: 290px
}
.siteadd LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.siteadd BUTTON {
	WIDTH: 85px; HEIGHT: 26px
}
.siteadd EM {
	FONT-SIZE: 12px; LINE-HEIGHT: 21px; FONT-STYLE: normal
}

/* for mesg.html */
.recordInfo {
	COLOR: #666; LINE-HEIGHT: 25px; TEXT-ALIGN: right
}
.recordInfo STRONG {
	FONT-WEIGHT: normal; COLOR: #000
}
.comentdata TH {
	BORDER-TOP: #ccc 1px solid; BACKGROUND: #f2f2f2; LINE-HEIGHT: 23px
}
.comentdata TH.name {
	PADDING-LEFT: 10px; FONT-SIZE: 14px; TEXT-ALIGN: left
}
.comentdata TH.comentinfo {
	PADDING-RIGHT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666; TEXT-ALIGN: right
}
.comentdata TD.comentcontent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 21px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.comentdata TD.sourceip {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 21px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.comentdata TD.sourceip A {
	COLOR: #666
}
.mesgh1 {
	PADDING-LEFT: 8px; FONT-SIZE: 14px; BACKGROUND: #888; COLOR: #fff; LINE-HEIGHT: 24px; TEXT-ALIGN: left
}
#return {
			MARGIN-TOP: 15px; FONT-SIZE: 14px; FLOAT: right; WIDTH: 102px; MARGIN-RIGHT: 23px; TEXT-ALIGN: left
}
/* for code.html */
.gtcode {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; WIDTH: 470px; PADDING-TOP: 15px; TEXT-ALIGN: left
}
.gtcode TEXTAREA {
	WIDTH: 470px; HEIGHT: 140px
}
.gtcode BUTTON {
	MARGIN-TOP: 9px; FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.codeh2 {
	PADDING-LEFT: 8px; FONT-SIZE: 14px; BACKGROUND: #f2f2f2; COLOR: #000; LINE-HEIGHT: 24px; TEXT-ALIGN: left
}
.gtpic {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; WIDTH: 470px; PADDING-TOP: 15px; TEXT-ALIGN: left
}
.gtpic INPUT {
	WIDTH: 290px
}
.gtpic BUTTON {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}

/* for index.html */
.indexintro{
	padding-left:210px;font-size:14px;line-height:21px;text-align:left;font-family:ËÎÌå;padding-top:20px;
}
.ty{
	padding-top:60px;font-size:14px;
}
.bd{
	margin-bottom:10px; padding-top:10px;
}

/*  */
.spanflashnodata{
	margin-left:auto; margin-right:auto; color:#FF0000; FONT-WEIGHT:bold; font-size:14px;
}

/*   */
.changeStyleLi {
	cursor:pointer;display:block;float:left;height:13px;margin:6px 7px 0 0;width:13px;
}

.menu .items li.new_icon{position:relative;}
.menu .items li.new_icon i.new{background:url(1231920848962.gif) no-repeat;position:absolute;right:12px;top:0px; width:28px;height:11px; overflow:hidden;}

/*page click*/
.click_tit{
   font-size:16px;text-align: left;
	}
.box-info{
   width:780px;font-size:12px; line-height:22px;
    }
.box-info p{
   padding-left:5px; margin:0; text-align:left;
}
.reddata{ color: #FF0000; }
.custom-click{width:335px;height:18px;border:1px solid #809eba;font-size:13px;padding-left:10px;vertical-align:middle;
}
#wrapper{width:980px; margin:0 auto; height:100%;}
.linezing_top_bar{width:100%;height:37px;border-top:1px solid #ccc;overflow:hidden;background:#f4f4f4;font-size:14px;}
.choose-data{float:left; margin:5px 0 0 10px
;}
button.ButtonLabel{padding-top:4px}button.ButtonLabel{margin-left:5px}
.msg{width:100%; height:40px; line-height:40px; font-size:16px; color:#ffffff; font-weight:bold; background:#3b3d3f; text-align:left;}
.msg ul{margin:0 0 0 10px;}
.msg li{width:300px;float:left; list-style-type:none;}
#iframe-box{width:980px;background:#000000;margin-left:auto; margin-right:auto;clear:both;}
.iframe-page{width:970px; height:100%; margin:0 5px 10px 5px; position:relative; overflow:hidden; z-index:1; border:1px solid #333;}
.iframe-page #opa {position:absolute; z-index:-1; width:100%; height:100%; top:0; left:0; background:#a4a5a7; filter:alpha(opacity=60); opacity:0.6;}
.iframe-page #opa {height:1000px;}

.setlink_tab{width:100%; border:0;float:left;text-align:left; }
.setlink_tab th{font-size:14px;line-height:30px;}
.setlink_tab td{font-size:12px;line-height:28px;}
