<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="zh-CN" />
	<title><#ZC_BLOG_TITLE#> Archivers</title>
	<meta name="keywords" content="<#ZC_BLOG_TITLE#>,Archivers,<#ZC_BLOG_TITLE#>存档" />
	<meta name="description" content="<#ZC_BLOG_TITLE#>所有日志" />
	<link rel="alternate" type="application/rss+xml" href="<!--SiteURL-->rss.xml" title="<#ZC_BLOG_TITLE#>" />
	<style type="text/css">
	* {font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 1.5em;}
	body { background: #F5FBFF; }
	.bodydiv { margin: 0 auto 0; width:540px; text-align:left; border: solid #86B9D6; border-width: 5px 1px 1px; background: #FFF; padding:1em; }
	h1 { font-size: 18px; background: #E8F7FC; color: #5086A5; text-align:center; padding:0.5em; }
	</style>
</head>
<body>
<div class="bodydiv">
	<h1><#ZC_BLOG_TITLE#></h1>
	<p><a href=<#ZC_BLOG_HOST#> target="_blank"><#ZC_BLOG_TITLE#></a> » <a href=<#ZC_BLOG_HOST#>archiver/>文章列表</a></p>
	<ul>
	<#CUSTOM_TAGS#>
	</ul>
</div>
</body>
</html>