<div class="post cate<#article/category/id#> auth<#article/author/id#>">
	<div class="post-date"><span class="post-day"><#article/posttime/day#></span> <span class="post-year-month"><#article/posttime/year#>-<#article/posttime/month#></span></div>
	<div class="post-title"><a href="<#article/url#>"><#article/title#></a></div>
	<h6 class="post-footer">
		<#ZC_MSG012#>:<a href="<#article/category/url#>" class="class"><#article/category/name#></a> | <#ZC_MSG013#>:<#article/commnums#> | <!--<#ZC_MSG014#>:<#article/trackbacknums#> | --><#ZC_MSG130#>:<span id="spn<#article/id#>"></span>
		<script language="JavaScript" type="text/javascript">strBatchView+="spn<#article/id#>=<#article/id#>,"</script>
	</h6>
	<div class="post-body"><#article/intro#></div>
	<div class="split"></div>
</div>