<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="zh-CN" />
	<title><!--SiteName--> Archivers</title>
	<meta name="keywords" content="<!--SiteName-->,Archivers,<!--SiteName-->存档" />
	<meta name="description" content="<!--SiteName-->所有日志" />
	<link rel="alternate" type="application/rss+xml" href="<!--SiteURL-->rss.xml" title="<!--SiteName-->" />
	<style type="text/css">
	* {font-size:12px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 1.5em;}
	body { background: #F5FBFF; }
	.bodydiv { margin: 0 auto 0; width:540px; text-align:left; border: solid #86B9D6; border-width: 5px 1px 1px; background: #FFF; padding:1em; }
	h1 { font-size: 18px; background: #E8F7FC; color: #5086A5; text-align:center; padding:0.5em; }
	</style>
</head>
<body>
<div class="bodydiv">
	<h1><!--SiteName--></h1>
	<p><a href=<!--SiteURL-->  target="_blank"><!--SiteName--></a> » <a href=<!--SiteURL-->archiver/>Archivers</a> » <a href=<!--SiteURL-->rss.xml>XML</a></p>
	<ul>
	<!--AllList-->
	</ul>
	<p><!--archiverList--> 共<!--AllPage-->页&nbsp; 当前第<!--ThePage-->页&nbsp;每页<!--ReCounts-->篇日志&nbsp;&nbsp;</p>
	<p align="center">&copy <a href="<!--SiteURL-->"  target="_blank"><!--SiteName--></a> 最后更新时间:<!--PostTime--></p>\
</div>
</body>
</html>